<div class="banner b-first c-second">
  <h1><%= @content["banner_title"] %></h1>
  <p><%= @content["banner_text"] %></p>
</div>
<div class="banner">
  <p><%= @content["what_we_believe_in"] %></p>
  <h3><%= @content["what_we_believe_in_text"] %></h1>
</div>
<div class="banner">
  <div class="grid">
    <div>
        <p><%= @content["what_we_do"] %></p>
        <h3><%=  @content["what_we_do_text"] %></h1>
        <a href=<%= request.original_url.gsub(/[^\/]+$/, "about")%> class="btn b-first c-second"><%= @content["know_more"] %> </a>
    </div>
    <div class="b-first">
        <div class="image">
        </div>
    </div>
  </div>
</div>
<div class="banner">
  <div class="grid">
    <div class="b-first">
        <div class="image">
        </div>
    </div>
    <div>
        <p><%= @content["who_we_are"] %></p>
        <h3><%= @content["who_we_are_text"] %></h1>
        <a href=<%= request.original_url.gsub(/[^\/]+$/, "team")%> class="btn b-first c-second"><%= @content["know_more"] %></a>
    </div>
  </div>
</div>
<div class="banner b-first c-second">
  <h1><%= @content["let_s_go"] %></h1>
  <a href=<%= root_url(subdomain: "member") %> class="btn b-second c-first"><%=  @content["cta"] %></a>
</div>
