<div class="flex-container">
   <div class="f-1 p-l" style="background: #<%=item.first%>; color: #<%=item.first%>"></div>
   <div class="f-1 p-l" style="background: #<%=item.second%>; color: #<%=item.second%>"></div>
   <div class="f-1 p-l" style="background: #<%=item.third%>; color: #<%=item.third%>"></div>
   <div class="f-1 p-l" style="background: #<%=item.fourth%>; color: #<%=item.fourth%>"></div>
   <div class="f-1 p-l" style="background: #<%=item.fifth%>; color: #<%=item.fifth%>"></div>
</div>