<div class="flex-container m-b-m">
   <div class="f-1 p-m" style="background: #<%=item.first%>; color: #<%=item.first%>"><%=item.first%></div>
   <div class="f-1 p-m" style="background: #<%=item.second%>; color: #<%=item.second%>"><%=item.second%></div>
   <div class="f-1 p-m" style="background: #<%=item.third%>; color: #<%=item.third%>"><%=item.third%></div>
   <div class="f-1 p-m" style="background: #<%=item.fourth%>; color: #<%=item.fourth%>"><%=item.fourth%></div>
   <div class="f-1 p-m" style="background: #<%=item.fifth%>; color: #<%=item.fifth%>"><%=item.fifth%></div>
</div>