<form action="" >
    <div class="padding-h-32">
      <label class="block ta-l width-f " for="name"><%= I18n.t "pages.contact.form.inputs.name.label" %></label>
      <input class="block ta-l width-f " type="text" id="name" name="name" placeholder=<%= I18n.t "pages.contact.form.inputs.name.placeholder" %>>
    </div>
    <div class="padding-h-32">
      <label class="block ta-l width-f " for="email"><%= I18n.t "pages.contact.form.inputs.email.label" %></label>
      <input class="block ta-l width-f " type="text" id="email" name="email" placeholder=<%= I18n.t "pages.contact.form.inputs.email.placeholder" %>>
    </div>
    <div class="padding-h-32">
      <label class="block ta-l width-f " for="content"><%= I18n.t "pages.contact.form.inputs.content.label" %></label>
      <textarea class="block ta-l width-f"   type="text" id="content" name="content" placeholder=<%= I18n.t "pages.contact.form.inputs.content.placeholder" %> style="height:200px"></textarea>
    </div>

    <input class="btn" type="submit" value="Submit">
</form>