<div>
   <div class="f-1 p-m" style="@import url(<%=item.link_tag_href%>); font-family: '<%= item.primary %>', <%= item.primary_backup %>; font-weight: bold;" ><%=item.primary%></div>
   <div class="f-1 p-m" style="@import url(<%=item.link_tag_href%>); font-family: '<%= item.secondary %>', <%= item.secondary_back_up %>" ><%=item.secondary%></div>   
</div>