<div>
   <h1 
     class="f-1 p-m no-margin" 
     style="
      font-family: '<%= item.primary %>',
      <%= item.primary_backup %>;
      font-weight: bold;" >
         <%=item.primary%>
   </h1>
   <p 
     class="f-1 p-m no-margin" 
     style="
      font-family: '<%= item.secondary %>',
      <%= item.secondary_back_up %>;
      font-weight: bold;" >
         <%=item.secondary%>
   </p>   
</div>

