<div class="banner b-first c-second">
  <h1><%= @content["who_we_are"] %></h1>
</div>
<div class="banner">
  <h3><%= @content["our_team"] %></h3>
  <p><%= @content["who_we_are_phrase"] %></p>
</div>
<div class="banner b-first c-second">
  <h1><%= @content["let_s_go"] %></h1>
  <a href=# class="btn b-second c-first"><%=  @content["cta"] %></a>
</div>