<!DOCTYPE html>
<html>
  <head>
    <title>Thatsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href=<%= @page.site.font_pair.link_tag_href %> rel="stylesheet">
    <%= stylesheet_link_tag "page", "data-turbo-track": "reload" %>
    <style>
      .primary_font {
        font-family: '<%= @page.site.font_pair.primary %>', <%= @page.site.font_pair.primary_backup %>;
      }

      .secondary_font {
        font-family: <%= @page.site.font_pair.secondary %>, <%= @page.site.font_pair.secondary_back_up %>;
      }
  
      .first {
        background-color: #<%= @page.site.color_palette.first %>
      }

      .second {
        background-color: #<%= @page.site.color_palette.second %>
      }

      .third {
        background-color: #<%= @page.site.color_palette.third %>
      }

      .fourth {
        background-color: #<%= @page.site.color_palette.fourth %>
      }

      .fifth {
        background-color: #<%= @page.site.color_palette.fifth %>
      }   
    </style>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/font_and_color_summary" unless Rails.env.production?%>
    <%= yield %>
  </body>
</html>
