<!DOCTYPE html>
<html>
  <head>
    <title>Thatsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href=<%= @page.site.font_pair.link_tag_href %> rel="stylesheet">
    <%= stylesheet_link_tag "page", "data-turbo-track": "reload" %>
    <style>

      .primary_font {
        font-family: '<%= @page.site.font_pair.primary %>', <%= @page.site.font_pair.primary_backup %>;
      }

      .secondary_font {
        font-family: '<%= @page.site.font_pair.secondary %>', <%= @page.site.font_pair.secondary_back_up %>;
      }


      body {
        font-family: '<%= @page.site.font_pair.secondary %>', <%= @page.site.font_pair.secondary_back_up %>; 
        background-color: #<%= @page.site.color_palette.second %>
      }

      h1 {
        font-family: '<%= @page.site.font_pair.primary %>', <%= @page.site.font_pair.primary_backup %>;
      }

      .c-first {
        color: #<%= @page.site.color_palette.first %>
      }

      .c-second {
        color: #<%= @page.site.color_palette.second %>
      }

      .c-third {
        color: #<%= @page.site.color_palette.third %>
      }

      .c-fourth {
        color: #<%= @page.site.color_palette.fourth %>
      }

      .c-fifth {
        color: #<%= @page.site.color_palette.fifth %>
      }  
  
     .b-first {
        background-color: #<%= @page.site.color_palette.first %>
      }

     .b-second {
        background-color: #<%= @page.site.color_palette.second %>
      }

     .b-third {
        background-color: #<%= @page.site.color_palette.third %>
      }

     .b-fourth {
        background-color: #<%= @page.site.color_palette.fourth %>
      }

     .b-fifth {
        background-color: #<%= @page.site.color_palette.fifth %>
      }   

      .header a {
        color: #<%= @page.site.color_palette.first %>;
      }

      .header a:hover {
        background-color: #<%= @page.site.color_palette.first %>;
        color: #<%= @page.site.color_palette.second %>;
      }

    </style>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# <%= render "shared/font_and_color_summary" unless Rails.env.production? %> 
    <%= render "shared/header"%>
    <%= yield %>
  </body>
</html>
